@model IEnumerable<DataLayer1.Page>
@{
    ViewBag.title = "ArchiveNews";
}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item active"><a href="#">اخبار </a></li>

</ul>
<section class="last-news-section border-radius margin-top-60">
    <header><i class="icons icon-doc-2"></i>  <h3>آرشیو کلیه خبرها</h3> </header>
    <ul>

        @foreach (var item in Model)
        {
            <li>
                
                
                    <img class="border-radius" src="/PageImages/@item.ImageCaption" title=" @item.Title" alt=" @item.Title">
              
                <h2> <a href="/News/@item.PageID"> @item.Title </a></h2>
                <p>
                    @item.ShowDescription
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToShamsi() </span>
                <a href="/News/@item.PageID" class="more-link"><i class="icons icon-more"></i></a>

            </li>
        }


    </ul>
</section>




